* {
    margin: 0;
    padding: 0;
    color: rgb(31, 50, 31);
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(242, 230, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}

.card {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -25px rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.1s);
}

.card-img img {
    height: 100%;
    transform: scale(1.2);
}

p {
    line-height: 24px;
    letter-spacing: o.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 80px;
    font-size: 1.8em;
    color: rgb(28, 2, 2);
    font-weight: bold;
    margin-bottom: 8px;
}

.Socials {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
}

button:hover {
    opacity: 0.8;
}

button i {
    color: #fff;
    font-size: 1.5em;
}

/*social media color*/

button.github {
    background-color: #24292e;
}

button.Linkedin {
    background-color: #1da1f2;
}

button.Facebook {
    background-color: #0e9af1;
}